 {% extends 'base.html' %}
{% load static %}
{% block content %}
  <section class="parallex_bg intro_inner wow fadeInDown price_banner">
    <div class="dark_overlay"></div>
    <div class="container">
        <div class="white_text intro_wrap text-center">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h1>Pricing</h1>
                </div>
            </div>
        </div>
    </div>
  </section> 

    <main class="main_container pricing_page">

        <section class="section_padding pricing_section wow fadeInUp">            
            <div class="container">

                 <div class="row">
                    <div class="col-lg-12">
                        <div class="heading center">
                            <h2>TutorDip <span>Pricing</span></h2>
                            <div class="heading_line"></div>
                            <p>Affordable and flexible pricing plan choose any plan according to your requirements.</p>                            
                        </div>                        
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="package_table">
                            <div class="package_header">
                              <h4>Basic</h4>
                            </div>
                            <div class="package_price_box white_text">
                              <p class="package_price">$150</p>
                            </div>
                            <div class="package_info">
                              <ul class="arrow_style">
                                <li>Tutor available 24 / 7</li>
                                <li>On demand or scheduled session</li>
                                <li>Access on mobile, tablet or desktop</li>
                                <li>Expert help in 80+ subjects</li>
                                <li>Change / Cancle anytime</li>
                              </ul>
                            </div>
                            <div class="package_footer"> 
                                <a href="javascript:;" class="btnDefault">Pay by PayPal <i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="package_table active">
                            <div class="package_header">
                              <h4>Professional</h4>
                            </div>
                            <div class="package_price_box white_text">
                              <p class="package_price">$250</p>
                            </div>
                            <div class="package_info">
                              <ul class="arrow_style">
                                <li>Tutor available 24 / 7</li>
                                <li>On demand or scheduled session</li>
                                <li>Access on mobile, tablet or desktop</li>
                                <li>Expert help in 80+ subjects</li>
                                <li>Change / Cancle anytime</li>
                              </ul>
                            </div>
                            <div class="package_footer"> 
                                <a href="javascript:;" class="btnDefault">Pay by PayPal <i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="package_table">
                            <div class="package_header">
                              <h4>Business</h4>
                            </div>
                            <div class="package_price_box white_text">
                              <p class="package_price">$350</p>
                            </div>
                            <div class="package_info">
                              <ul class="arrow_style">
                                <li>Tutor available 24 / 7</li>
                                <li>On demand or scheduled session</li>
                                <li>Access on mobile, tablet or desktop</li>
                                <li>Expert help in 80+ subjects</li>
                                <li>Change / Cancle anytime</li>
                              </ul>
                            </div>
                            <div class="package_footer"> 
                                <a href="javascript:;" class="btnDefault">Pay by PayPal <i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                    
                </div>
            </div>
    </section>
        
    </main>
    {% endblock %}